.logo-sites
    height: 100px
    background: #f8f8f8;
    
    
    
.logo-sites
    display: flex
    align-items: center
    flex-direction: row

    
.logo-sites__item
    padding: 0 10px
    justify-content: space-around
    flex-grow: 1

    
    img
        max-width: 100%
        
