!!! 5
!!!
%html(lang="ru")
  %head
    %title Myspace
    %meta(charset="utf-8")
    %meta(content="ie=edge" http-equiv="x-ua-compatible")
    %meta(name="description" content="") 
    %meta(name="keywords" content="сайты, интерфейсы, приложения, программинг")
    %link(rel="stylesheet" type="text/css" href="css/style.css")
    %script(type="text/javascript" src="js/main.js")
<meta name="keywords"
  %body
    %header.header
        .header_fade
        .header_fade-black
        .content
            .header__info
                %article
                    %h2 Хотите быстро продать или сдать недвижимость?
                    %div.title-description
                        %p AidSale – это сервис, позволяющий разместить Ваше объявление одновременно на <br> <a id="allsiteopen" href="#">65 сайтах</a> с аудиторией более    <b>10 000 000</b> человек
                    .button-block
                        %a.button-blue(href="#") Попробуйте бесплатно
                    
                    %p.header_op-txt Бесплатная публикация Вашего объявления на трех площадках
                    
        .header__nav
            .content
                %ul.header__menu
                    %li.header__logo
                        %a(href="#")
                            %img(src="img/logo.png" alt="AidSale")
                            
                    %li
                        %a(href="#")
                            .button-min Регистрация
                            
                    %li.header__log-in
                        %a(href="#")
                            %span Вход
                            
    .logo-sites
        .content
            .logo-sites
            
                .logo-sites__item
                    %img(src="img/logo/avito.png" alt="авито")
                   
                .logo-sites__item
                    %img(src="img/logo/mail.png" alt="мэйл")
                   
                .logo-sites__item
                    %img(src="img/logo/ya.png" alt="яндекс")
                           
                .logo-sites__item
                    %img(src="img/logo/cian.png" alt="циан")
                                   
                .logo-sites__item
                    %img(src="img/logo/mail.png" alt="мэйл")
                                           
                .logo-sites__item
                    %img(src="img/logo/avito.png" alt="авито")
                    
    %section.type-services
        .content
            %h3 С нами легко продать или <a href="#">сдать в аренду</a>
            
            .type-sevices__grid
            
            
                .type-services__item
                        .type-services_icon
                            %i._ico1
                        %h5.type-services_title Квартира
                        
                        .button-block
                            %a.button-min.--blue(href="#") Продать 
                    
                .type-services__item
                        .type-services_icon
                            %i._ico2
                        %h5.type-services_title Комната
                        
                        .button-block
                            %a.button-min.--blue(href="#") Продать 
                    
                .type-services__item
                        .type-services_icon
                            %i._ico3
                        %h5.type-services_title Дом
                        
                        .button-block
                            %a.button-min.--blue(href="#") Продать 
                            
                .type-services__item
                        .type-services_icon
                            %i._ico4
                        %h5.type-services_title Участок
                        
                        .button-block
                            %a.button-min.--blue(href="#") Продать 
                                    
                .type-services__item
                        .type-services_icon
                            %i._ico5
                        %h5.type-services_title Гараж
                        
                        .button-block
                            %a.button-min.--blue(href="#") Продать 
                                            
                .type-services__item
                        .type-services_icon
                            %i._ico6
                        %h5.type-services_title Коммерческое
                        
                        .button-block
                            %a.button-min.--blue(href="#") Продать
    .advantages
        .content
            .advantages__grid
            
                %article.advantages__item
                    .advantages__icon
                        %i._adv1
                    %h5.advantages_title Всего 1 000 рублей
                    %p Одноразовая оплата объявления на неограниченный срок его действия
            
                %article.advantages__item
                    .advantages__icon
                        %i._adv2
                    %h5.advantages_title Быстрое размещение
                    %p Объявление публикуется на 65 сайтах в самое ближайшее время после подачи
            
                %article.advantages__item
                    .advantages__icon
                        %i._adv3
                    %h5.advantages_title Все в одном месте
                    %p При изменении объявления правки автоматически вступают в силу на всех сайтах
                    
    %section.special
        .content
            %article
                %h3 Специальное предложение
                .title-description
                    %p Если Вы пришли к нам из другого сервиса, оказывающего аналогичные услуги, получите <a href="#">до 50% скидку</a> на размещение объявления.
                .button-block
                    %a.button-blue(href="#") Зарегистрируйтесь
                    
    %section.comments
        %h4 Нам доверяют 500 000 человек
        
        .comments-slider.comments__one

        
            .comments__item
                .comments__item__body
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                      
            .comments__item
                .comments__item__body
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                      
            .comments__item
                .comments__item__body
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                      
            .comments__item
                .comments__item__body
                
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                                    
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                
        
        .comments-slider.comments__two

        
            .comments__item
                .comments__item__body
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                      
            .comments__item
                .comments__item__body
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                      
            .comments__item
                .comments__item__body
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
                      
            .comments__item
                .comments__item__body
                
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                                    
                    %p.comments__item__text Skype и/или Microsoft. Название Skype, соответствующие товарные знаки и логотипы, а также логотип «S» являются товарными знаками, принадлежащими компании Skype или связанным с ней компаниям. Использование этого веб-сайта приравнивается к согласию выполнять Условия использования.
                    
                    .comments__item__signature
                        .comments__item_ava
                            %img(src="img/ava.jpg" alt="Иосиф Сталин")
                        %span.comments__item_name Иосиф Сталин
                        %span.comments__item_date 20 мая 2015
        .button-block
            %a.button-min.--blue Все отзывы
            
    %section.everything-just
        .content
            %h3 Разместить объявление — просто
            .everything-just__grid
            
                .everything-just__item
                    .everything-just__number
                        %span 1
                    %p.everything-just_text Внесите данные вашего лота
                
            
                .everything-just__item
                    .everything-just__number
                        %span 2
                    %p.everything-just_text Оплатите размещение удобным для вас способом
                
            
                .everything-just__item
                    .everything-just__number
                        %span 3
                    %p.everything-just_text Получайте звонки потенциальных покупателей
                    
            .button-block
                %a.button-blue(href="#") Подать объявление
            %p.header_op-txt Бесплатная публикация Вашего объявления на трех площадках
            
            
    %section.tarif
        .content
            %h3 Выбор тарифного плана
            %p.tarif_description Данная линейка тарифных планов распространяется <br> на Москву и Московскую область 
            %p.align-center
                %a.tarif_region выбрать регион
                
            .tariv__grid
            
                .tariv__grid__item
                    .tariv__grid__item__body
                        %h5.tariv__grid__item_title Старт
                        %span.tariv__grid__item_money 345 ₽
                        %span.tariv__grid__item_options 7 дней
                        %span.tariv__grid__item_options 43 сайта
                        %span.tariv__grid__item_options 
                            %i.icon-star 
                            0 премиум
                        %span.tariv__grid__item_options 1 х просмотров
                        .button-block
                            %a.button-blue Выбрать
                        %a.tarif_region подробнее
                          
                .tariv__grid__item
                    .tariv__grid__item__body
                        %h5.tariv__grid__item_title Старт
                        %span.tariv__grid__item_money 345 ₽
                        %span.tariv__grid__item_options 7 дней
                        %span.tariv__grid__item_options 43 сайта
                        %span.tariv__grid__item_options 
                            %i.icon-star 
                            0 премиум
                        %span.tariv__grid__item_options 1 х просмотров
                        .button-block
                            %a.button-blue Выбрать
                        %a.tarif_region подробнее
                          
                .tariv__grid__item.tariv__grid__item--active 
                    .tariv__grid__item__body
                        %h5.tariv__grid__item_title Старт
                        %span.tariv__grid__item_money 345 ₽
                        %span.tariv__grid__item_options 7 дней
                        %span.tariv__grid__item_options 43 сайта
                        %span.tariv__grid__item_options 
                            %i.icon-star 
                            0 премиум
                        %span.tariv__grid__item_options 1 х просмотров
                        .button-block
                            %a.button-blue Выбрать
                        %a.tarif_region подробнее
                          
                .tariv__grid__item
                    .tariv__grid__item__body
                        %h5.tariv__grid__item_title Старт
                        %span.tariv__grid__item_money 345 ₽
                        %span.tariv__grid__item_options 7 дней
                        %span.tariv__grid__item_options 43 сайта
                        %span.tariv__grid__item_options 
                            %i.icon-star 
                            0 премиум
                        %span.tariv__grid__item_options 1 х просмотров
                        .button-block
                            %a.button-blue Выбрать
                        %a.tarif_region подробнее
                        
                        
    %section.latest-posts
        .content
            %h3 Последние добавленные
            .latest-posts__grid
            
                 %a.latest-posts__item
                   .latest-posts__item__image
                        %img(src="img/post1.jpg" alt="Коттедж")
                    %h5.latest-posts__item_title Очень хороший дом!<br> Коттедж 240 м² на участке 17 сот.
                    %span.latest-posts__item_date № 1536 / 4 мая 2013
                    %span.latest-posts__item_money 12 000 000 руб.
                    
                 %a.latest-posts__item
                   .latest-posts__item__image
                        %img(src="img/post1.jpg" alt="Коттедж")
                    %h5.latest-posts__item_title Коттедж 240 м² на участке 17 сот.
                    %span.latest-posts__item_date № 1536 / 4 мая 2013
                    %span.latest-posts__item_money 12 000 000 руб.
                    
                 %a.latest-posts__item
                   .latest-posts__item__image
                        %img(src="img/post1.jpg" alt="Коттедж")
                    %h5.latest-posts__item_title Коттедж 240 м² на участке 17 сот.
                    %span.latest-posts__item_date № 1536 / 4 мая 2013
                    %span.latest-posts__item_money 12 000 000 руб.
                    
                 %a.latest-posts__item
                   .latest-posts__item__image
                        %img(src="img/post1.jpg" alt="Коттедж")
                    %h5.latest-posts__item_title Коттедж 240 м² на участке 17 сот.
                    %span.latest-posts__item_date № 1536 / 4 мая 2013
                    %span.latest-posts__item_money 12 000 000 руб.
                    
                 %a.latest-posts__item
                   .latest-posts__item__image
                        %img(src="img/post1.jpg" alt="Коттедж")
                    %h5.latest-posts__item_title Коттедж 240 м² на участке 17 сот.
                    %span.latest-posts__item_date № 1536 / 4 мая 2013
                    %span.latest-posts__item_money 12 000 000 руб.
                            
                 %a.latest-posts__item
                   .latest-posts__item__image
                        %img(src="img/post1.jpg" alt="Коттедж")
                    %h5.latest-posts__item_title Коттедж 240 м² на участке 17 сот.
                    %span.latest-posts__item_date № 1536 / 4 мая 2013
                    %span.latest-posts__item_money 12 000 000 руб.
            .button-block
                %a.button-min.--blue Все объявления
                
    %section.questions
        .content
            %h4 Остались вопросы?
            .questions__grid
            
                .questions__item
                    %span.questions__item_title Бесплатный звонок
                    %a.questions__item_link(href="tel:88005550911") 8 800 555-09-11
                            
                .questions__item
                    %span.questions__item_title Звоните с 10:00 до 19:00
                    %a.questions__item_link(href="tel:88005550911") 8 800 555-09-11
                            
                .questions__item
                    %span.questions__item_title Пишите на почту
                    %a.questions__item_link(href="mailto:help@aidsale.ru") help@aidsale.ru
            .questions_description
                %p или заполните <a href="#">форму обратной связи</a> на сайте
                
                
        

    %footer.footer
        .content
            .footer__navigate__grid
                .footer__navigate
                
                    %ul.footer__navigate__ul.footer__navigate__ul--one
                        %li
                            %a(href="#") О проекте
                        %li
                            %a(href="#") Тарифы
                        %li
                            %a(href="#") Отзывы
                        %li
                            %a(href="#") Новости
                                            
                    %ul.footer__navigate__ul.footer__navigate__ul--two
                        %li
                            %a(href="#") Как это работает?
                        %li
                            %a(href="#") Вопрос-ответ
                        %li
                            %a(href="#") Публичная оферта
                        %li
                            %a(href="#") Правила публикации
                                            
                    %ul.footer__navigate__ul.footer__navigate__ul--three
                        %li
                            %a(href="#") Партнерская программа
                        %li
                            %a(href="#") Разработчикам
                        %li
                            %a(href="#") Контактная информация
                            
                .footer__copy
                    .button-block
                        %a.button-min.--blue(href="#") Доска объявлений
                    %span.footer__copy_txt © AidSale, 2015   
                    %span.footer__copy_txt Разработка — 
                        %a(target="_blank" href="http://www.coalla.ru/" alt="Coalla Agency")Coalla Agency
                        
    .popup-fade#popupfade
    .all-popup#allpopup
        .all-popup__body
            .all-site#allsite
                .all-site__body
                    %h4 Выберите свой регион
                    
                    .all-site__body__grid
                    
                        %ul.all-site__grid__item
                        
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                    
                        %ul.all-site__grid__item
                        
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                    
                        %ul.all-site__grid__item
                        
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                                     
                            %li
                                %a(href="#")
                                    %i.barahlanet 
                                    barahla.net
                
            
                .all-close#allclose
                    %span
                            