!!! 5
!!!
%html(lang="ru")
  %head
    %title Myspace
    %link(rel="stylesheet" type="text/css" href="css/style.css")
    %script(type="text/javascript" src="js/main.js")
  %body
    = File.read "../components/header/header.haml"
    %footer