// GUI stylies of the project
// For example, styles of the links, buttons and so on.




.button-block 
    display: block
    text-align: center

.button-blue 
    display: inline-block
    border-radius: 8px
    background-color: $colfirm
    color: #fff
    font-size: 18px
    color: #fff
    padding: 14px 62px
    +m-speed(.4s)
    font-family: $fontb
        
    &:hover
        background: $main_color2
        color: #fff

        
.button-min
    border-width: 1px

    border-style: solid
    padding: 3px 23px
    color: #fff
    font-size: 16px
    display: inline-block
    border-radius: 15px
    +m-speed(.4s)
        
    &:hover
        background: $colfirm
        color: #fff
        border-color: $colfirm
    
    
.--blue

    color $colfirm
    border: solid 1px $colfirm 
    color: $colfirm
    &:hover
        background: $colfirm
        color: #fff
    
    
.title-description
        
    p
        color: #fff
        font-size: 24px
        text-align: center
        margin: 0
        
        a
            display: inline-block
            padding: 0 0 1px
            position: relative
            font-family: $fontb
            +m-speed(.3s)
                
                
                    
        a:before
            content: '';
            display: block
            position: absolute
            bottom: 3px
            left: 0px
            width: 100%
            height: 1px
            border-bottom: dotted 2px #fff
            +m-speed(.3s)
            
                
        a:hover:before
            border-bottom: dotted 2px $colfirm
        
        
       

// icons

.icon-star
    display: inline-block
    width: 16px
    height: 16px
    background-size: contain
    background: url(../img/star.png)
    background-repeat: no-repeat



