// Mixins.
@import 'jeet/scss/index.scss';
@import "bourbon";



@mixin back-p($y,$x,$s) {
    background-position:  $y $x !important; 
    background-repeat: no-repeat !important;
    background-size: $s !important;
}

@mixin abs($d,$w,$h,$t,$l) {
    position: absolute;
    display: $d;
    width: $w;
    height: $h;
    top:$t;
    left: $l;
}



@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside; 
}






@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}



@mixin t-cell ($a) {
    position: relative;
    display: table-cell;
    vertical-align: $a;       
    
}

@mixin m-speed($n) {
    -webkit-transition: all $n ;   
    -moz-transition: all $n  ;  
    -o-transition: all $n ;
    transition: all $n ;
}